.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
  height: 320px;
  width: 280px;
  border: 1px solid #000000;
  margin: 16px;
  
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container,
.title {
  font-size: 18px;
  font-weight: 600;
}
.card-container img {
  height: 250px;
  width: 230px;
}

.active{
  color: #fff;
  background: #000000;
}
